@import '../base';

body{
    background-color: #f9fdff;
}

#contact-section{
    padding: 0rem 0 3rem 0;

    .img-banner{
        padding-bottom: 2rem;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    @media screen and (max-width:990px){
        padding: 3rem 0 3rem 0;
    }
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, #030046 0%, #090979 35%, #00748b 100%);
    @media screen and (max-width:991px){
        background: linear-gradient(180deg, #030046 0%, #090979 35%, #00748b 100%);
    }
    .container{
        .heading{
            margin-bottom: 2rem;
        }

        .contact-container{

            @media screen and (min-width:992px){
                padding-right: 4rem;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    
    iframe{
        width: 100%;
        border-radius: 1rem;
    }

}