@import '../base';

#about-company{
    padding-bottom: 3rem;
    .container{
        text-align: justify;
        max-width: 900px;

        .title{
            font-weight: 700;
            color: $base-color;
            font-size: 42px;
            border-radius: 0.5rem;
            text-align: left;
            margin-bottom: 1rem;

            @media screen and (max-width:600px){
                font-size: 32px;
            }
        }
        p{
            padding-bottom: 1rem;
            text-align: justify;
        }
    }
    .img-banner{
        padding-bottom: 2rem;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
}

#people{
    padding-bottom: 2rem;
    .container{
        max-width: 900px;
        img{
            object-fit: cover;
            border-radius: 1rem;
        }
        h3{
            margin-bottom: 1rem;
        }
        p{
            text-align: justify;
        }
     }
}