@import '../base', '../aos';

.top-section{
    padding-top: 10rem;

    @media screen and (max-width:990px){
        padding-top: 8rem;
    }
}

section{
    padding: 2rem 0;
    background-color: #f1f1ff;
    .container{
        max-width: 900px;
        .heading{
            width: fit-content;
            margin-bottom: 1rem;
            font-size: 22px;
        }

        p{
            text-align: justify;
        }
    }
    
    .ratio{
        max-width: 900px;
        margin-bottom: 1rem;
        overflow: hidden;
        border-radius: 1rem;

        img{
            object-fit: cover;
        }
    }
}